body {
  margin: 0;
  background: white;
}

svg {
  width: 100vw;
  height: 100vh;
}

.tooltip {
  position: absolute;
  background: white;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 12px;
}

.chart-title {
  font-size: 20px;
  font-weight: bold;
  fill: black;
}

.axis {
  stroke: black;
}

.axis-label {
  font-size: 15px;
  fill: black;
}

#chart-container {
  position: relative;
  width: 100%;
}

#filtering {
  position: absolute;
  top: 20px;
  z-index: 10;
}

.checkbox-item {
  margin-bottom: 2.5px;
}
