body {
  margin: 0;
  background: #fafafa;
}

svg {
  width: 100vw;
  height: 100vh;
}

path {
  fill: #a8dadc;
  stroke: #1d3557;
  stroke-width: 0.5px;
  transition: fill 0.2s;
}

path:hover {
  fill: orange;
}
